<div class="row" style="background-color: #AB9750">
  <div class="col-md-2 col-xs-1">
  </div>


  <div class="col-md-8 col-xs-10"  id="contact" style="color: #191919;" >
      <!-- style="color: #424042;" -->
    <h3 style="text-align: center" >
      לשאלות ובירורים נא לפנות בטלפון או במייל
      <br>
      <br>
      <a href="tel:+972527381578">+972527381578</a> <i class="fas fa-phone"></i>
      <br>
      <br>
      <a href="mailto:sniper.tir.israel@gmail.com">sniper.tir.israel@gmail.com</a> <i class="fas fa-envelope"></i>
    </h3>
  </div>


  <div class="col-md-2 col-xs-1">
  </div>
</div>